*{
    font-family: 'Lato', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@media (min-width:1024px){
    body{
        background: url(../assets/bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    #desk{
        display: flex;
        justify-content: end;
    }
    .all{
        background:url(../assets/waves.png);
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    .right, .all{
        /* background-color: #121212; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
    }

    .social{
        margin-right: 1.5rem;
    }
}

body{
    background-color: #121212;
}


.main{
    min-height: 100vh;
}

.left{
}



.container img{
    max-width: 30%;

}

.right>.container{
    padding-top: 3rem;
    display: flex;
    justify-content: center;
}


.social{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.links{
    display: flex;
    justify-content: center;
}

.social p{
    color: white;
    text-align: center;
    flex-basis: 100%;
}

.social a img{
    width: 25px;
    filter: invert(100%) sepia(10%) saturate(7500%) hue-rotate(181deg) brightness(118%) contrast(108%);
    -webkit-filter: invert(100%) sepia(10%) saturate(7500%) hue-rotate(181deg) brightness(118%) contrast(108%);
    margin-right: 15px;
    margin-left: 15px;
}

.sitem a{
    display: contents;
}

@media (max-width:1023px){
    .right{
        background-color: #121212;
    }
    .left{
        background: url(../assets/bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}


@media (min-width:992px){
    
    #mob, #mobb{
        display:none
    }
}

@media (max-width:992px){


    #desk{
        display: none;
    }
    #mob{
        display: flex;
        justify-content: center;
        margin-top: -7rem !important;
        flex-grow: 1;
        }
    .social{
        padding-bottom: 0px !important;
        background-color: #121212;
        height: 20vh;
        align-items: center;
    }
    .sitem a img{
        width:20px;
        margin-right: 17px;
        margin-left: 17px;
    }
    .right{
        display: none;
    }
    .left{
        background-position: center;
        display: flex;
        flex-direction: column;
    }
    .container img{
        margin: auto !important;
        max-width: 60%;
    }
    .main{
        min-height: 80vh;
    }
}